$h1Font: "Rubik Bubbles", sans-serif;
$h2-3Font: "Rubik Bubbles", sans-serif;
$h4-6Font: "Rubik Mono One", sans-serif;
$bodyText: "Rubik", sans-serif;

$offWhite: #F2F2F2;
$almostBlack: #222222;
$grey: #9c9c9c;
$errorMessage: #ff0000;
$highLight: #073949;
$hoverBlue: #073949;
$boxShadow: rgba(18, 23, 34, 0.863);