@use 'variables' as var;

@import './normalize';

* {
    box-sizing: border-box;
}

/* * {
  outline: 1px solid #f00 !important; // Turn on to see layout and overflowing containers better
} */

html {
    scroll-behavior: smooth;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    position: sticky;
    padding: 0.5rem;
    background-color: var.$almostBlack;
    color: var.$offWhite;
    text-align: center;
    border-bottom: 5px dotted var.$grey;

    h1 {
        text-decoration: underline;
        margin: 0;
    }
    
    h2 {
        margin: 0;

        span {
            font-size: 1.25rem;
            font-style: italic;
        }
    }

    .highLight_h1 {
        font-size: 4rem;
        color: var.$grey;
    }

    .highLight_h2 {
        font-size: 1.5rem;
        color: var.$grey;
    }
}

body {
/*     display: flex;
    flex-direction: column;
    justify-content: center; */
    background-color: var.$almostBlack;
}

#app {  
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    gap: 16px 16px;
    grid-auto-flow: row;
}
  
.main {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 0px 0px;
    grid-auto-flow: row;
    gap: 16px 16px;
    grid-template-areas:
      "login-and-rendered-tasks"
      "votecards";
}
  
.login-and-rendered-tasks { 
    grid-area: login-and-rendered-tasks; 
    //background-color: var.$offWhite;
    display: flex;
    justify-content: center;
}
.votecards { 
    grid-area: votecards;
    //background-color: var.$offWhite;
    display: flex;
    justify-content: center;
}
.upcoming-tasks { 
    grid-area: 1 / 1 / 2 / 2; 
    //background-color: var.$offWhite;
}
.completed-tasks { 
    grid-area: 1 / 3 / 2 / 4; 
    //background-color: var.$offWhite;
}
  
/*******************************************************************************
***************************************LOGIN************************************
*******************************************************************************/

.login-form {
    background-color: var.$offWhite;
    border: 2px solid var.$grey;
    border-radius: 1rem;
    padding: 2rem;

    .login-header {
        margin-top: 0;
    }
}

/*******************************************************************************
***************************************VOTECARDS********************************
*******************************************************************************/

.allVoteCardsContainer {
    max-width: 50rem;
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
    column-gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var.$offWhite;
    border: 2px solid var.$grey;
    border-radius: 1rem;
    padding: 2rem;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var.$almostBlack;
        color: var.$offWhite;
        border: 2px solid var.$grey;
        border-radius: 1rem;
        padding: 0.5rem;
        width: 8rem;
        height: 11rem;
    }
}

/*******************************************************************************
***************************************ADD TASKS********************************
*******************************************************************************/

.addTaskContainer {
    position: absolute;
    top: 20%;
    left: calc(50% - 10rem);
    width: 20rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    background-color: var.$offWhite;
    border: 2px solid var.$grey;
    border-radius: 1rem;
    padding: 2rem;

    textarea {
        width: 100%;
        height: 6rem;
        resize: vertical;
    }

    .btnContainer {
        display: flex;
        justify-content: space-between;
        padding-top: 0.5rem;

        button {
            padding: 0.5rem;
        }
    }
}

/*******************************************************************************
*******************************UPCOMING TASKS LIST******************************
*******************************************************************************/

#task-list {
    margin: 2rem;
    overflow-wrap: normal;
    background-color: var.$offWhite;
    border: 2px solid var.$grey;
    border-radius: 1rem;
    padding: 2rem;
}

/*******************************************************************************
***********************************VOTE SECTION*********************************
*******************************************************************************/

#task-to-vote-on {
    max-width: 50rem;
    overflow-wrap: normal;
    background-color: var.$offWhite;
    border: 2px solid var.$grey;
    border-radius: 1rem;
    padding: 2rem;
}

/*******************************************************************************
******************************COMPLETED TASKS LIST******************************
*******************************************************************************/

.completedVotesUl {
    margin: 2rem;
    overflow-wrap: normal;
    background-color: var.$offWhite;
    border: 2px solid var.$grey;
    border-radius: 1rem;
    padding: 2rem;
}

.expandedCompletedVote {
    position: absolute;
    top: 20%;
    left: calc(50% - 10rem);
    width: 20rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    background-color: var.$offWhite;
    border: 2px solid var.$grey;
    border-radius: 1rem;
    padding: 2rem;
}