@use 'variables' as var;

@import './normalize';

* {
    box-sizing: border-box;
}

/* * {
  outline: 1px solid #f00 !important; // Turn on to see layout and overflowing containers better
} */

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    justify-content: center;
    background-color: var.$almostBlack;
}

/*******************************************************************************
***************************************LOGIN************************************
*******************************************************************************/

.login-form {
    background-color: var.$offWhite;
    border: 2px solid var.$grey;
    border-radius: 1rem;
    padding: 2rem;

    .login-header {
        margin-top: 0;
    }
}

/*******************************************************************************
***************************************VOTECARDS********************************
*******************************************************************************/

.allVoteCardsContainer {
    display: flex;
    flex-direction: row;
    row-gap: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var.$offWhite;
    border: 2px solid var.$grey;
    border-radius: 1rem;
    padding: 2rem;
    max-width: 40rem;

    div {
        display: flex;
        justify-content: center;
        background-color: var.$almostBlack;
        color: var.$offWhite;
        border: 2px solid var.$grey;
        border-radius: 1rem;
        padding: 0.5rem;
        width: 8rem;
        height: 11rem;
    }
}

/*******************************************************************************
***************************************ADD TASKS********************************
*******************************************************************************/

.addTaskContainer {
    position: absolute;
    top: 20%;
    left: calc(50% - 10rem);
    width: 20rem;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    background-color: var.$offWhite;
    border: 2px solid var.$grey;
    border-radius: 1rem;
    padding: 2rem;

    textarea {
        width: 100%;
        height: 6rem;
        resize: vertical;
    }

    .btnContainer {
        display: flex;
        justify-content: space-between;
        padding-top: 0.5rem;

        button {
            padding: 0.5rem;
        }
    }
}

/*******************************************************************************
*******************************UPCOMING TASKS LIST******************************
*******************************************************************************/

#task-list {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: 15rem;
    margin: 2rem;
    overflow-wrap: normal;
    background-color: var.$offWhite;
    border: 2px solid var.$grey;
    border-radius: 1rem;
    padding: 2rem;
}

/*******************************************************************************
***********************************VOTE SECTION*********************************
*******************************************************************************/

#task-to-vote-on {
    max-width: 40rem;
    overflow-wrap: normal;
    background-color: var.$offWhite;
    border: 2px solid var.$grey;
    border-radius: 1rem;
    padding: 2rem;
}